@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
* body {
  font-family: "Yu Gothic", Arial, Helvetica, sans-serif;
  /* タブレット表示 */
  /* デスクトップ表示 */
}
* body ul {
  list-style: none;
}
* body .spinner {
  margin: 50% auto 0;
  width: 70px;
  text-align: center;
}
* body .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
* body .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
* body .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
* body #loader-bg {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 3;
}
* body #loader-bg.loaded {
  visibility: hidden;
  opacity: 0;
}
* body #loader-bg #loader {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 35% auto;
  background: white;
  z-index: 4;
  text-align: center;
}
* body #loader-bg #loader p {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 16px;
}
* body .barba-leave-active,
* body .barba-enter-active {
  transition: 0.3s ease-out;
}
* body .barba-leave {
  opacity: 1;
  visibility: visible;
  transform: none;
}
* body .barba-enter {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10vh);
}
* body .barba-leave-to {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10vh);
}
* body .barba-enter-to {
  opacity: 1;
  visibility: visible;
  transform: none;
}
* body header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  background-color: rgba(95, 158, 160, 0.9);
}
* body header h1 {
  display: inline-block;
  padding: 0 1%;
  letter-spacing: 0.1em;
  background-color: rgba(141, 100, 100, 0.8);
}
* body header a {
  font-size: 1em;
  text-decoration: none;
  color: #fff8dc;
}
* body header .menuButton {
  display: block;
  position: relative;
  height: 50px;
  width: 60px;
  background-color: rgba(95, 158, 160, 0.9);
  cursor: pointer;
}
* body header .menuButton:hover {
  background: #8fbbbd;
}
* body header .menuButton div {
  height: 2px;
  width: 40px;
  background-color: #0c0a0a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  perspective: 1000;
}
* body header .menuButton div:nth-of-type(1) {
  transform: translate(-50%, -15px);
}
* body header .menuButton div:nth-of-type(3) {
  transform: translate(-50%, 15px);
}
* body header .menuButton.active div:nth-of-type(2) {
  opacity: 0;
}
* body header .menuButton.active div:nth-of-type(1) {
  transform: rotate(45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}
* body header .menuButton.active div:nth-of-type(3) {
  transform: rotate(-45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}
* body header nav {
  opacity: 0;
  visibility: hidden;
  transform: translatex(40%);
  transition: 0.3s;
  perspective: 1000;
  position: fixed;
  top: 50px;
  right: 0;
  background-color: rgba(169, 169, 169, 0.8);
  height: 80%;
  width: 200px;
  padding: 50px 0 100px 0;
}
* body header nav.active {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transform: translatex(0);
  box-shadow: -1px 1px 5px 1px #313030;
}
* body header nav.active ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
* body header nav.active li:not(:first-of-type) {
  padding-top: 20px;
}
* body header nav.active a:hover {
  cursor: pointer;
  background-color: #555555;
  transition: 0.3s;
  perspective: 1000;
}
* body header nav .nav-sns {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding-top: 20%;
  border-top: 1px solid black;
}
* body header h1 {
  background-color: #8d6464;
}
* body header h1 a {
  font-size: 0.5em;
  display: inline-block;
}
* body .topBtn {
  height: 50px;
  width: 60px;
  background-color: rgba(95, 158, 160, 0.9);
  color: #fff8dc;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 60px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .topBtn:hover {
  background: #8fbbbd;
}
* body .main {
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* body .main .main-image {
  z-index: -1;
  position: fixed;
  width: 100vw;
  min-height: 130vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/IMG_5927.png);
}
* body .main .main-image #main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff8dc;
  background-color: rgba(141, 100, 100, 0.9);
  padding: 30px 50px;
  padding: 30px 20px;
}
* body .main .main-image #main-container.hide {
  opacity: 0;
  transition: 0.3s;
  perspective: 1000;
  transform: translate(-50%, 0);
}
* body .main .main-image #main-container h1 {
  font-size: 13px;
  padding-bottom: 5px;
  display: block;
}
* body .main .main-image #main-container h1 .br-sp {
  display: none;
}
* body .main .main-image #main-container p {
  display: block;
  font-size: 10px;
}
* body .bg-2 {
  background-color: white;
}
* body .bg-2 .second-container {
  width: 100%;
  padding-top: 15%;
  z-index: 1;
  opacity: 0;
  transition: 0.6s;
  perspective: 1000;
}
* body .bg-2 .second-container.show {
  opacity: 1;
}
* body .bg-2 .second-container .content-left h2 {
  position: relative;
  padding-left: 60px;
  font-size: 16px;
  opacity: 0;
  transform: translatex(-50px);
  visibility: hidden;
  transition: 0.8s;
  perspective: 1000;
}
* body .bg-2 .second-container .content-left h2::before {
  position: absolute;
  display: inline-block;
  top: 0.5em;
  left: 22px;
  height: 1px;
  width: 30px;
  content: "";
  border-bottom: 1px solid black;
}
* body .bg-2 .second-container .content-left .tag {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transform: translateX(-60px);
  visibility: hidden;
  transition: 0.9s;
  perspective: 1000;
}
* body .bg-2 .second-container .content-left .contentWrap .textBox {
  margin-left: 20px;
  padding-bottom: 30px;
  background-color: cadetblue;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateX(50px);
  visibility: hidden;
  transition: 0.8s;
  perspective: 1000;
}
* body .bg-2 .second-container .content-left .contentWrap .textBox h3 {
  padding: 20px 0 0 30px;
  position: relative;
}
* body .bg-2 .second-container .content-left .contentWrap .textBox h3::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 4px;
  height: 1em;
  top: 22px;
  left: 22px;
  background-color: #a34d3d;
}
* body .bg-2 .second-container .content-left .contentWrap .textBox p {
  padding: 20px 20px 0 30px;
}
* body .bg-2 .second-container .content-right .imgBox {
  width: 100%;
  height: 300px;
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
  transition: 1s;
  perspective: 1000;
}
* body .bg-2 .second-container .content-right .imgBox .img {
  transform: translateY(-30%);
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
}
* body .bg-2 .second-container .content-right .imgBox #img-policy {
  background-image: url(images/img-policy.jpeg);
}
* body .bg-2 .second-container .content-right .imgBox #img-history {
  background-image: url(images/img-history.jpg);
}
* body .bg-2 .second-container .service-content .card {
  display: flex;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  background-color: cadetblue;
  padding-top: 2%;
  padding-bottom: 2%;
}
* body .bg-2 .second-container .service-content .card:hover {
  background-color: #8fbbbd;
  transition: 0.3s;
  perspective: 1000;
}
* body .bg-2 .second-container .service-content .card .cardImage {
  width: 50%;
  position: relative;
}
* body .bg-2 .second-container .service-content .card .cardImage #imgGuitar {
  background-image: url(images/guitar.jpeg);
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;
  background-size: contain;
}
* body .bg-2 .second-container .service-content .card .cardImage #imgComposing {
  background-image: url(images/composing.jpeg);
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;
  background-size: contain;
}
* body .bg-2 .second-container .service-content .card .cardImage #imgMixing {
  background-image: url(images/mixing.jpeg);
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;
  background-size: contain;
}
* body .bg-2 .second-container .service-content .card .cardText {
  width: 50%;
}
* body .bg-2 .second-container .service-content .card .cardText h3 {
  position: relative;
  padding-left: 10px;
}
* body .bg-2 .second-container .service-content .card .cardText h3::before {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  width: 4px;
  height: 21px;
  background-color: #a34d3d;
}
* body .bg-2 .second-container .service-content .card .cardText h4 {
  display: inline;
}
* body .bg-2 .second-container .service-content .tb-pc-text {
  display: none;
}
* body .bg-2 .second-container .price-text, * body .bg-2 .second-container .contact-text {
  width: 100%;
  background-color: cadetblue;
  text-align: center;
  margin-bottom: 30px;
}
* body .bg-2 .second-container .price-text:hover, * body .bg-2 .second-container .contact-text:hover {
  background-color: #8fbbbd;
  transition: 0.3s;
  perspective: 1000;
}
* body .bg-2 .second-container .price-text a, * body .bg-2 .second-container .contact-text a {
  color: #fff8dc;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  position: relative;
}
* body .bg-2 .second-container .price-text a::after, * body .bg-2 .second-container .contact-text a::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 10%;
  margin: auto;
  display: inline-block;
  border: 3px solid white;
  transform: perspective(40px) rotateX(70deg);
  border-left: 0;
  border-top: 0;
  width: 36px;
  height: 16px;
}
* body .bg-2 .space {
  display: none;
  width: 100vw;
  height: 200px;
}
* body .bg-2 .second-container.show h2,
* body .bg-2 .second-container.show .tag,
* body .bg-2 .second-container.show .imgBox,
* body .bg-2 .second-container.show .imgBox .img,
* body .bg-2 .second-container.show .contentWrap .textBox {
  transform: none;
  visibility: visible;
  opacity: 1;
}
* body footer {
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(95, 158, 160, 0.9);
}
* body footer .footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 250px;
}
* body footer .footer-content svg {
  padding-top: 10px;
  padding-right: 0;
  color: #fff8dc;
}
* body .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #5f5e5e;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  transition: 0.3s;
  perspective: 1000;
}
* body .mask.active {
  opacity: 0.7;
  visibility: visible;
}
* body .copyright {
  text-align: center;
  background-color: cadetblue;
}
* body .copyright p {
  padding: 10px;
  font-size: 12px;
}
@media (min-width: 481px) {
  * body .bg-2 .second-container h2 {
    margin-right: 10vw;
    margin-left: 10vw;
  }
  * body .bg-2 .second-container .tag {
    margin-right: 4vw;
    margin-left: 10vw;
  }
  * body .bg-2 .second-container .contentWrap {
    margin-right: 10vw;
    margin-left: 10vw;
  }
  * body .bg-2 .second-container .contentWrap .imgBox {
    width: 85%;
  }
  * body .bg-2 .second-container .service-content {
    display: flex;
  }
  * body .bg-2 .second-container .service-content .card {
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
  }
  * body .bg-2 .second-container .service-content .card .tb-pc-text {
    display: block;
    position: relative;
    padding-left: 10px;
  }
  * body .bg-2 .second-container .service-content .card .tb-pc-text::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: 0;
    width: 4px;
    height: 1em;
    background-color: #a34d3d;
  }
  * body .bg-2 .second-container .service-content .card .cardImage {
    width: 100%;
    height: 180px;
  }
  * body .bg-2 .second-container .service-content .card .cardImage #imgGuitar {
    display: block;
    width: 100%;
    height: 100%;
  }
  * body .bg-2 .second-container .service-content .card .cardImage #imgComposing {
    display: block;
    width: 100%;
    height: 100%;
  }
  * body .bg-2 .second-container .service-content .card .cardImage #imgMixing {
    display: block;
    width: 100%;
    height: 100%;
  }
  * body .bg-2 .second-container .service-content .card .cardText p {
    box-sizing: border-box;
    width: 200%;
    font-size: 0.8em;
    padding: 0 10px;
  }
  * body .bg-2 .second-container .service-content .card .cardText h4 {
    padding-left: 20%;
  }
  * body .bg-2 .second-container .service-content .card .cardText .sp-text {
    display: none;
  }
  * body .bg-2 .second-container .price-text {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 769px) {
  * body header {
    height: 10vh;
  }
  * body header h1 a {
    font-size: 1em;
    line-height: 10vh;
  }
  * body header nav {
    top: 10vh;
    width: 25%;
  }
  * body header nav ul li a {
    font-size: 1.5em;
  }
  * body header nav .nav-sns {
    margin: 0 20%;
  }
  * body header .menuButton {
    height: 10vh;
    width: 5vw;
  }
  * body header .menuButton div {
    width: 70%;
  }
  * body header .menuButton div:nth-of-type(1) {
    transform: translate(-50%, -20px);
  }
  * body header .menuButton div:nth-of-type(3) {
    transform: translate(-50%, 20px);
  }
  * body .topBtn {
    width: 5vw;
    height: 10vh;
  }
  * body .topBtn svg {
    transform: scale(1.25);
  }
  * body .main .main-image #main-container {
    display: block;
  }
  * body .main .main-image #main-container h1 {
    font-size: 1.25em;
    padding-top: 6%;
  }
  * body .main .main-image #main-container p {
    font-size: 1em;
  }
  * body .space {
    display: block;
    height: 50px;
  }
  * body .second-container {
    padding: 40px 0 20px 0;
    display: flex;
  }
  * body .second-container .content-left {
    display: inline-block;
    width: 50%;
  }
  * body .second-container .content-left h2 {
    font-size: 2em;
  }
  * body .second-container .content-left h2::before {
    left: 5px;
  }
  * body .second-container .content-left .tag {
    font-size: 2em;
    padding: 40px 0 40px 0;
  }
  * body .second-container .content-left .contentWrap {
    margin-right: 0;
  }
  * body .second-container .content-left .contentWrap .textBox {
    margin-left: 0;
    width: 100%;
  }
  * body .second-container .content-left .contentWrap .textBox p {
    font-size: 1em;
  }
  * body .second-container .content-right {
    width: 50%;
    margin-right: 10VW;
  }
  * body .second-container .content-right .imgBox {
    width: 100%;
    height: 100%;
  }
  * body .second-container .content-right .imgBox .img {
    transform: translate(0%, 0%);
  }
  * body .second-container .service-content {
    margin: 0 10% 50px 0%;
  }
  * body .second-container .service-content .card .tb-pc-text {
    font-size: 22px;
    padding-left: 1em;
    padding-bottom: 10%;
  }
  * body .second-container .service-content .card .cardImage {
    height: 25vh;
    padding-bottom: 10%;
  }
  * body .second-container .service-content .card .cardText p {
    font-size: 14px;
    padding-bottom: 5%;
  }
  * body .second-container .service-content .card .cardText h4 {
    font-size: 1.5em;
  }
  * body .second-container .price-text, * body .second-container .contact-text {
    margin: 10%;
    height: 100%;
  }
  * body .second-container .price-text a h3, * body .second-container .contact-text a h3 {
    font-size: 2em;
  }
  * body footer {
    height: 80px;
  }
  * body footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 80px;
    transform: scale(1.25);
  }
  * body footer .footer-content svg {
    padding-top: 25px;
    padding-right: 10px;
    cursor: pointer;
  }
  * body footer .footer-content svg:hover {
    transform: scale(1.5);
    transition: 0.3s;
    perspective: 1000;
    color: #000723;
  }
  * body .copyright p {
    font-size: 1em;
  }
}
@media (min-width: 990px) {
  * body .topBtn svg {
    transform: scale(1.5);
  }
  * body .main .main-image #main-container h1 {
    padding-top: 0;
    font-size: 2.5em;
  }
  * body .main .main-image #main-container p {
    font-size: 2em;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
  * body .bg-2 .second-container .content-left h2 {
    font-size: 2.5em;
  }
  * body .bg-2 .second-container .content-left .tag {
    font-size: 2.5em;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  * body .bg-2 .second-container .content-left .contentWrap .textBox h3 {
    font-size: 1.75em;
  }
  * body .bg-2 .second-container .content-left .contentWrap .textBox p {
    font-size: 1.75em;
  }
  * body .bg-2 .second-container .content-right .imgBox {
    height: 100%;
  }
  * body .bg-2 #service .service-content {
    margin: 0 10% 50px 0;
  }
  * body .bg-2 #service .service-content a h3 {
    font-size: 1.6em;
    padding-left: 10px;
  }
  * body .bg-2 #service .service-content a .cardText p {
    font-size: 1.5em;
  }
}
@media (min-width: 1500px) {
  * body header nav .nav-sns svg {
    transform: scale(2);
  }
  * body header nav ul li a {
    font-size: 2.5em;
  }
  * body .bg-2 .second-container .service-content .card .cardImage {
    height: 250px;
  }
}
body {
  line-height: 1.25;
  box-sizing: border-box;
}
body #main-container {
  display: none;
}
body .servicePage {
  background-color: white;
}
body .servicePage .title {
  opacity: 0;
  transition: 1s;
  margin: 80px 0 30px 0;
  font-size: 1.25em;
  color: black;
  padding: 20px;
  text-align: center;
  position: relative;
}
body .servicePage .title::after {
  position: absolute;
  left: 25%;
  height: 1px;
  width: 50%;
  content: "";
  display: block;
  background: #000;
}
body .servicePage .title.show {
  opacity: 1;
}
body .servicePage .content {
  background-color: rgba(95, 158, 160, 0.9);
  margin: 20px 0 10px 0;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50px);
}
body .servicePage .content.show {
  opacity: 1;
  transform: translateY(0);
}
body .servicePage .content h2 {
  padding: 20px 0 20px 30px;
  position: relative;
}
body .servicePage .content h2::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 20px;
  left: 20px;
  width: 4px;
  height: 1.25em;
  background-color: #a34d3d;
}
body .servicePage .content h2::after {
  margin-top: 10px;
  width: 90%;
  height: 1px;
  content: "";
  display: block;
  background: #000;
}
body .servicePage .content p {
  text-align: left;
  padding: 20px;
}
body .servicePage .image {
  width: 100%;
  height: 250px;
  opacity: 0;
  transition: 1s;
}
body .servicePage .image.show {
  opacity: 1;
}
body .servicePage .image #ComposingPage {
  background-image: url(images/ComposingPage.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}
body .servicePage .image #GuitarPage {
  background-image: url(images/GuitarPage.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}
body .servicePage .image #MixingPage {
  background-image: url(images/MixingPage.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}
body .servicePage table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10%;
}
body .servicePage table caption h2 {
  color: black;
  font-size: 1.5em;
  position: relative;
  padding-bottom: 1em;
  display: inline-block;
}
body .servicePage table caption h2::before {
  position: absolute;
  content: "";
  top: 0.1em;
  left: -7px;
  width: 4px;
  height: 1em;
  background-color: #a34d3d;
}
body .servicePage table th {
  background-color: cadetblue;
  color: cornsilk;
  display: block;
  border-right: none;
}
body .servicePage table tr {
  display: block;
  margin-bottom: 0.625em;
}
body .servicePage table td {
  border-bottom: 1px solid white;
  display: block;
  font-size: 0.8em;
  position: relative;
  padding: 0.625em 0.625em 0.625em 4em;
}
body .servicePage table td::before {
  content: attr(data-label);
  font-weight: bold;
  position: absolute;
  left: 10px;
}
body .servicePage table thead {
  display: none;
}
body .servicePage table thead tr {
  border-bottom: 2px solid white;
  display: block;
  width: 100%;
}
body .servicePage table thead .non {
  width: 25%;
  background: white;
}
body .servicePage table tbody .txt {
  font-size: 0.85em;
  background: #8fbbbd;
}
body .servicePage table tbody .price {
  background: #8fbbbd;
  text-align: right;
}
body .contactPage {
  width: 100%;
  background-color: white;
}
body .contactPage .title {
  margin: 80px 0 30px 0;
  color: black;
  padding: 20px;
  text-align: center;
  position: relative;
}
body .contactPage .title::after {
  position: absolute;
  left: 25%;
  height: 1px;
  width: 50%;
  content: "";
  display: block;
  background: #000;
}
body .contactPage .title h1 {
  font-size: 1.75em;
}
body .contactPage .contactForm {
  width: 80%;
  padding: 1em 0;
  margin: 5% auto;
}
body .contactPage .contactForm .formWrap {
  width: 80%;
  margin: 0 auto 20px;
  padding-bottom: 20px;
}
body .contactPage .contactForm .formWrap label {
  display: block;
  position: relative;
  left: 0.5em;
  padding-bottom: 10px;
}
body .contactPage .contactForm .formWrap label::before {
  position: absolute;
  display: inline-block;
  content: "";
  left: -0.5em;
  width: 4px;
  height: 1em;
  background-color: #a34d3d;
}
body .contactPage .contactForm .formWrap input {
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
body .contactPage .contactForm .formWrap input:focus {
  border-bottom: none;
}
body .contactPage .contactForm .formWrap input:focus + span {
  border: none;
  width: 80%;
  display: block;
  transform: scaleX(1);
  transition: 0.4s;
  border-bottom: 2px solid cadetblue;
}
body .contactPage .contactForm .formWrap textarea {
  width: 100%;
}
body .contactPage .contactForm .formWrap textarea:focus {
  outline: none;
  transform: scaleX(1);
  transition: 0.6s;
  border: 2px solid cadetblue;
}
body .contactPage .contactForm .formWrap span {
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  border: 1px solid cadetblue;
}
body .contactPage .contactForm button {
  height: 50px;
  width: 200px;
  font-size: 1.25em;
  display: block;
  margin: 0 auto 50px;
  border: none;
  border-radius: 5px;
  background: cadetblue;
  color: cornsilk;
  transition: 0.3s;
}
body .contactPage .contactForm button:hover {
  background: #9fc5c6;
}
body .contactPage .modalArea {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .contactPage .modalArea .modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}
body .contactPage .modalArea .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}
body .contactPage .modalArea .modalWrapper .modal-header {
  text-align: center;
}
body .contactPage .modalArea .modalWrapper .modal-header h2 {
  padding: 1em 0;
}
body .contactPage .modalArea .modalWrapper .modal-header h2::after {
  position: absolute;
  left: 25%;
  height: 1px;
  width: 50%;
  content: "";
  display: block;
  background: #000;
}
body .contactPage .modalArea .modalWrapper p {
  padding: 10px 0;
}
body .contactPage .modalArea .modalWrapper #message {
  background: #f9f9f9;
  max-height: 250px;
  overflow: auto;
  white-space: pre-wrap;
}
body .contactPage .modalArea .modalWrapper .modal-footer {
  padding: 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
body .contactPage .modalArea .modalWrapper .modal-footer button {
  width: 45%;
  border: none;
  line-height: 2em;
  border-radius: 3px;
  color: cornsilk;
  background: cadetblue;
}
body .contactPage .modalArea .modalWrapper .modal-footer button:hover {
  background: #9fc5c6;
}
body .contactPage .modalArea .closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
body .contactPage #sendedArea {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .contactPage #sendedArea #sendedBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}
body .contactPage #sendedArea .sendedDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 400px;
  padding: 10px 30px;
  background-color: #fff;
  text-align: center;
}
body .contactPage #sendedArea .sendedDisplay h3 {
  font-weight: normal;
  line-height: 100px;
}
body .contactPage #sendedArea .sendedDisplay button {
  height: 50px;
  width: 100px;
  font-size: 1.25em;
  display: block;
  margin: 0 auto 50px;
  border: none;
  border-radius: 5px;
  background: cadetblue;
  color: cornsilk;
}
body .contactPage #sendedArea .sendedDisplay button:hover {
  background: #9fc5c6;
}
@media (min-width: 481px) {
  body .servicePage .image {
    height: 50vh;
  }
  body .servicePage table {
    width: 481px;
    margin: 5% auto;
  }
  body .servicePage table caption {
    text-align: left;
    padding-left: 1em;
  }
  body .servicePage table caption h2 {
    position: relative;
  }
  body .servicePage table caption h2::after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: "";
    display: block;
    background: #000;
  }
  body .servicePage table thead {
    display: table-header-group;
  }
  body .servicePage table thead tr {
    display: table-row;
    padding: 0.35em;
  }
  body .servicePage table thead tr th {
    display: table-cell;
    border-left: 1px solid white;
  }
  body .servicePage table thead tr td {
    display: table-cell;
  }
  body .servicePage table thead .priceRow {
    width: 20%;
  }
  body .servicePage table th {
    display: table-cell;
    padding: 1em 10px 1em 1em;
    font-size: 0.85em;
    border-bottom: 1px solid white;
  }
  body .servicePage table tr {
    display: table-row;
  }
  body .servicePage table td {
    display: table-cell;
    border-left: 1px solid white;
    padding: 1em;
  }
  body .servicePage table td::before {
    content: none;
  }
}
@media (min-width: 769px) {
  body .servicePage .title {
    margin-top: 15vh;
    font-size: 2em;
  }
  body .servicePage .image {
    width: 80%;
    margin: 50px auto;
  }
  body .servicePage .content {
    width: 80%;
    margin: 50px auto;
  }
  body .servicePage .content h2 {
    font-size: 2em;
  }
  body .servicePage .content p {
    font-size: 1.75em;
  }
  body .servicePage table {
    width: 60%;
  }
  body .servicePage table th {
    font-size: 2em;
  }
  body .servicePage table td {
    font-size: 1.75em;
  }
  body .servicePage table caption h2 {
    font-size: 3em;
  }
  body .servicePage table thead .priceRow {
    width: 16%;
  }
  body .servicePage table tbody .txt {
    font-size: 2em;
  }
  body .servicePage .attention {
    font-size: 1em;
    padding: 20px;
  }
  body .contactPage .title {
    margin-top: 15vh;
    font-size: 3em;
  }
  body .contactPage .contactForm .formWrap label {
    font-size: 1.75em;
  }
  body .contactPage .contactForm .formWrap input {
    font-size: 1.75em;
  }
  body .contactPage .contactForm .formWrap textarea {
    font-size: 1.75em;
  }
  body .contactPage .contactForm button {
    height: 100%;
    width: 20%;
    font-size: 2em;
  }
  body .contactPage .modalArea .modalWrapper {
    max-width: 800px;
  }
  body .contactPage .modalArea .modalWrapper h2 {
    font-size: 3em;
  }
  body .contactPage .modalArea .modalWrapper h3 {
    font-size: 1.75em;
  }
  body .contactPage .modalArea .modalWrapper p {
    font-size: 1.5em;
  }
  body .contactPage .modalArea .modalWrapper .modal-footer button {
    height: 100%;
    width: 40%;
    font-size: 2em;
  }
  body .contactPage #sendedArea .sendedDisplay {
    padding: 3% 5%;
  }
  body .contactPage #sendedArea .sendedDisplay h3 {
    font-size: 2em;
  }
  body .contactPage #sendedArea .sendedDisplay button {
    height: 100%;
    width: 40%;
    font-size: 2em;
  }
}

/*# sourceMappingURL=app.css.map*/